$primary-color: #2d529f;
$secondry-color: #008fe2;
$gray-color: #f7f7f7;
$dark-color: black;
$light-color: #ffffff;
$font-color: #777;
$main-font: sans-serif;
$third-color: #34383d;
 
$meduim-header: 1.7rem;
$small-header: 1.5rem;


$border-radius: 12px;
$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
$text-color: #333;